/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .wrapper {
   position: relative;
   width: 278px; /* add width in percentage as 30% */
   height: 360px; /* add height as auto after fixing the page layout */
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }

 .wrapper-blank {
   position: relative;
   width: 300px; /* add width in percentage as 30% */
   height: 200px; /* add height as auto after fixing the page layout */
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
 }
 /*img {*/
   /*position: absolute;*/
   /*left: 0;*/
   /*top: 0;*/
 /*}*/

 .signature-pad {
   position: absolute;
   left: 0;
   top: 0;
   width:100%;
   height:auto;
 }

 .signature-pad-blank {
   position: absolute;
   left: 0;
   top: 0;
   width:100%;
   height:auto;
   border: 2px solid grey;
 }
